.container{
    width: 100%;
    padding-top: 14px;
    display: flex;
    justify-content: end;

    .content{
        width: 850px;
        display: flex;
        gap: 33%;
        padding-top: 10%;

        .textContent{
            display: flex;
            flex-direction: column;
            gap: 4%;

            .titleText{
                width: 448px;

                h1{
                    font-family: Roboto;
                    font-size: 60px;
                    font-weight: 400;
                    line-height: 64px;
                    letter-spacing: 0.6000000238418579px;
                }
            }

            .subText{
                width: 435px;

                p{
                    font-family: Roboto;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 32px;
                }
            }

            .buttons{
                display: flex;
                gap: 3%;

                .btn1{
                    border-radius: 4px;
                    border: 1px solid #F9C600;
                    background-color: #F9C600;
                    padding: 15px 29px;
                    transition: all 0.5s ease;

                    &:hover{
                        border-radius: 4px;
                        border: 1px solid #0B2330;
                        background-color: #ffff;
                        padding: 15px 29px;
                        transition: all 0.9s ease;
                    }
                }

                .btn2{
                    border-radius: 4px;
                    border: 1px solid #0B2330;
                    padding: 15px 29px;
                    transition: all 0.5s ease;

                    &:hover{
                        border-radius: 4px;
                        border: 1px solid #F9C600;
                        background-color: #F9C600;
                        padding: 15px 29px;
                        transition: all 0.5s ease;
                    }
                }
            }
        }

        .heroImage{
            z-index: 9;
        }

    }

    .backgroundImage{
        img{
            width: 700px;
        }
    }
}