.container{
    width: 100%;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo{
        
        a{
            img{
                transition: all 0.5s ease;
            }

            img:hover{
                background-color: #b4c3ca;
                transition: all 0.5s ease;
                border-radius: 7px;
            }
        }
    }

    .nav{
        width: 650px;

        ul{
            display: flex;
            gap: 5%;
            

            li{
                width: 110px;
                position: relative  ;
                pointer-events:fill;

                img{
                    padding:0 0 2.5% 6%;
                }

                ul{
                    position: absolute;
                    margin-top: 10px;
                    padding: 10px 0 10px 0;
                    flex-direction: column;
                    text-align: center;
                    gap: 10px;
                    background-color: #eaeff1;
                    border: 1px solid #0B2330;
                    border-radius: 7px;
                    opacity: 0;
                    display: none;
                    z-index: 10;
                    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
                    
                    
                    
                }

                
            }

            li:hover ul{
                display: flex;
                opacity: 1;
                transition: all 0.9s ease;
            }
        }
     }

     .info{
        width: 430px;

        ul{
            display: flex;
            justify-content: space-around;

            li{
               
                .button3{
                    color: white;
                    border: 1px solid #0B2330;
                    background-color: #0B2330;
                    border-radius: 4px;
                    padding: 14px 39px;
                    transition: all 0.5s ease;
                }

                .button3:hover{
                    color: black;
                    border: 1px solid #0B2330;
                    background-color: #ffff;
                    border-radius: 4px;
                    padding: 14px 39px;
                    transition: all 0.5s ease;
                    
                }
            }
        }
     }
}

